/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
 body {
     box-sizing: content-box;
 }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;*/
    /*font: inherit;*/
    /*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Mes styles */
body{
line-height: 2rem;

}

header  {
    background: url("../image/restaurant-header.jpg");
    background-size: cover;
    color: #c70922;
    padding: 2rem;

}

header a {
    color:#c70922;
}

header p i {
    border: solid white 1px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 0.5em;
}

h1,h2 {
    text-align: center;
    margin: 2em;
    font-family: 'Courgette', cursive;
    text-transform: uppercase;
    color:#c70922;
}

.titre {
    margin-top:20px;

}

li { 
    list-style: none
}

h3{
    text-align: center;
    color: #c70922;
}

 .imgHome {
max-width:600px;
}

 table img{
     max-width: 300px;
 }
.menu{

    text-align: center;
}


main form {
    width: 80%;
    margin: auto;
}


aside {
    margin-top:5rem;
    max-height: 700px;
}
.red {
    color:red;
}

.fa-star.gold {
    color: #ffdc0f;
}

.basket{
    position: fixed;
    right: 0px;


}


footer {

    background-color: #B6B1AD;
    color: #c70922;
}